.dashboard_form {
    display: flex;
    align-items: end;
    padding: 1%;
    background: #6495ed57;
    border-radius: 5px;
}

.dashboard_container {
    height: 100%;
    padding: 2%;
    background: #6495ed1a;
}