.AppBar_container {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.AppBar_social_container {
    display: flex;
    align-items: center;
}