.popupdialog_container {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.popupdialog {
    position: relative;
    border-radius: 15px;
    top: 40%;
    padding: 1%;
    width: 80%;
    display: inline-block;
    background: white;
}

.popupdialog_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    border-bottom: 1px solid black;
    border-radius: 5px 5px 0 0;
    background: #6495ed99;
}